name: deploy_backend
# deploy when push is made to backend folder.

on:
    push:
        branches: [ main ]
        paths:
        - 'backend/**'
    workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Build with dotnet
      run: dotnet build backend/api/api.csproj --configuration Release

    - name: Publish with dotnet
      run: dotnet publish backend/api/api.csproj --configuration Release --output ./publish

    - name: Azure Login
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Update Function App to .NET 8 and v4 runtime
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az functionapp config appsettings set --name getresumefunctionapp --resource-group azureresume-rg --settings "FUNCTIONS_EXTENSION_VERSION=~4"
          az functionapp config set --name getresumefunctionapp --resource-group azureresume-rg --net-framework-version v8.0

    - name: Deploy to Azure Functions
      uses: Azure/functions-action@v1
      with:
        app-name: 'getresumefunctionapp'
        package: './publish'

    - name: logout
      run: |
            az logout
      if: always()
